<!DOCTYPE html>
<html>
<title>Edit Profile</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>

    <div class="root-container">
        <div class="nav">
            <input type="text" placeholder="Search..">
            <a href="feed.html">Home</a>
            <a href="profile.html">My Profile</a>
            <a id="log-out-link" href="">Log Out</a>
        </div>
        <div class="container-columns">
            <div class="side-bar">
                <div class="side-bar-rows">
                    <img src="https://i.ibb.co/80Pp20C/Cave-Logo.png"
                        class="side-profile-pic">

                    <button class="button-notifs" id="create-post-icon">
                        <a href="newPost.html">
                            <span class="material-icons">
                                add
                            </span>
                        </a>
                    </button>

                    <button class="button-notifs" id="edit-profile-icon">
                        <a href="editProfile.html">
                            <span class="material-icons">
                                edit
                            </span>
                        </a>
                    </button>
                </div>

            </div>
            <div class="content">
                <form action="{{url_for('newUser')}}" method="post" enctype="multipart/form-data">
                    <div class="profile-banner">
                        <div class="profile-page-pic">
                            <label for="edit-screenname">Upload Profile Picture</label>
                            <input type="file" accept="image/jpg" name="edit-prof-pic">
                        </div>

                        <div class="user-info">
                            <label for="edit-screenname">Edit Screen Name</label>
                            <input type="text" id="edit-screenname" name="edit-screenname">
                        </div>

                        <div class="profile-bio">
                            <label for="edit-screenname">Edit Bio</label>
                            <textarea id="edit-bio" name="edit-bio">

                            </textarea>
                        </div>



                    </div>
                    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>