<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
	<!-- a 'profile' variable should be passed here.. 
		it will be an object that should contain data from the database-->

	<div class="profile_panel"> <!-- Panel on the left side of the screen -->
		<!-- Profile Picture {profile.pfp:}-->
		<!-- Screen Name {profile.screenname:}-->

		<!-- My Profile Button? This would route to another template... 
			it should call a python file first so you can query from the db-->

		<!-- Log Out Button/Text Sign out and route to log-in template-->

	</div>

	<!-- a 'feed' variable should be passed to the html file... 
		it will be an object with lots of attributes... 
		we should generate the feed in the python file that calls this template... 
		meaning we should query the for the feed before hand-->

	<div class="profile-feed"> <!-- Contain posts and their top comments? -->
	{% for post in post_list: %} <!-- Iterate through our posts in our users feed -->
		<div class="post"> <!-- Post div will need all database variables/attributes from post class? -->
			<div class="post_metadata">
				<!-- Author -->
				<div class="author">
					<!-- Profile Author -->
					<h2> {{post[9]}}</h2>
				</div>
				<div class="profile-page-pic">
					<img src ="data:image/jpg;base64, {{ post[8] }}">
				</div>
				<div class="likes">
					<!-- Number of likes -->
					<h2> Likes: {{post[3]}}</h2>
					<!-- Thumbs up button-->
					<!-- Number of dislikes -->
					<h2> Dislikes: {{post[4]}}</h2>
					<!-- Thumbs Down button-->
				</div>
			</div>
			<div class="post-content">
				 <div class="post-image">
					<img src ="data:image/jpg;base64, {{ post[2] }}">
				</div>
				<div class="post-desc">
					<p> {{ post[1] }} </p>
				</div>
			</div>
		</div>
		<!-- Insert Spacing Between Posts -->

	{% endfor %}
	</div>

</body>

</html>