<!DOCTYPE html>
<html>

<head>

	<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
	<div class="profile_panel"> <!-- Panel on the left side of the screen -->
		<!-- Profile Picture -->
		<!-- Screen Name -->
		<!-- Log Out Button/Text -->

	</div>

	<div class="main_feed"> <!-- Contain posts and their top comments? -->
	<% for post in feed.posts: %> <!-- Iterate through our posts in our users feed -->
		<div class="post"> <!-- Post div will need all database variables/attributes from post class? -->
			<div class="post_metadata">
				<!-- Author -->
				<div class="author">
					<!-- Profile Pic {post.author_picture} -->
					<!-- Profile Author -->
					<h2> {post.author_name:}</h2>
				</div>
				<div class="likes">
					<!-- Number of likes -->
					<h2> {post.like_number:}</h2>
					<!-- Thumbs up button-->
					<!-- Number of dislikes -->
					<h2> {post.dislike_number:}</h2>
					<!-- Thumbs Down button-->
				</div>
			</div>
		</div>
		<div class="comment_preview"> <!-- Comment preview for each post-->
			<h2 class="comment_number"> {post.comment_number:} Comments <h2>

			<!-- only show the top comment on the feed?? -->
			<div class="comment">
				<!-- Tiny Profile Pic? {post.top_comment.author_picture} -->
				<h2> {post.top_comment.author_name:} </h2>
				<p class="comment_text"> {post.top_comment.text:} <p>
			</div>

			<!-- if more than one comment we should use a for loop with post.comments as an array... with a comment div-->
		</div>
		<!-- Insert Spacing Between Posts -->

	<% end %>
	</div>

</body>

</html>