<!DOCTYPE html>
<html>
<title>Profile</title>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>

<body>

    <div class="root-container">
        <div class="nav">
            <input type="text" placeholder="Search..">
            <a href="{{url_for('generateFeed')}}">Home</a>
            <a href="{{url_for('viewProfile')}}">My Profile</a>
            <a href="{{url_for('logout')}}">Log Out</a>
        </div>
        <div class="container-columns">
            <div class="side-bar">
                <div class="side-bar-rows">
                    <img src="https://i.ibb.co/80Pp20C/Cave-Logo.png"
                        class="side-profile-pic">

                    <button class="button-notifs" id="my-messages">
                        <span class="material-icons">
                            chat
                        </span>
                    </button>

                    <button class="button-notifs" id="my-notifs">
                        <span class="material-icons">
                            notifications
                        </span>
                    </button>
                    <button class="button-notifs" id="my-settings">
                        <span class="material-icons">
                            <span class="material-icons">
                                settings
                            </span>
                        </span>
                    </button>

                </div>

            </div>
            <div class="content">
                <div class="profile-banner">

                    <div class="profile-page-pic">
                        <img src= 'data:image/jpg;base64,{{ img_data }}'
                            class="profile-pic" id="profile-pic">

                    </div>
                    <div class="user-info">
                        <h2 name="screename">@{{screen_name}} </h2>
                        <p name="follower_count" href="#followers">Followers: {{follow_count}}</p>
                        <p name="following_count" href="#following">Following: {{following_count}}</p>
                    </div>

                    <div class="profile-bio">
                        <p name="userbio"> {{bio_text}}</p>
                    </div>


                </div>
                <div class="profile-feed">
                    {% for post in post_list %} <!-- Iterate through our posts in our users feed -->
                    <div class="post">
                        <div class="post-content">
                            <div class="post-image">
                                <img src ="data:image/jpg;base64, {{ post[2] }}">
                            </div>
                            <div class="post-desc">
                                <p> {{ post[1] }} </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</body>

</html>